<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h2 class="mt-5">Your Orders</h2>
    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order ID</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Shipping Address</th>
            <th scope="col">Total Amount</th>
            <th scope="col">Status</th>
            <th scope="col">Order Date</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order, iterStat : ${orders}">
            <td th:text="${iterStat.index + 1}"></td>
            <td th:text="${order.id}"></td>
            <td th:text="${order.customerName}"></td>
            <td th:text="${order.shippingAddress}"></td>
            <td th:text="${order.totalAmount}"></td>
            <td th:text="${order.status}"></td>
            <td>
                <span th:if="${order.orderDate != null}"
                      th:text="${#temporals.format(order.orderDate, 'dd/MM/yyyy HH:mm')}">Order Date</span>
                <span th:unless="${order.orderDate != null}">N/A</span>
            </td>
            <td><a href="#" th:attr="data-target='#orderDetailsModal' + ${order.id}, data-toggle='modal'">Details</a></td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" th:each="order : ${orders}" th:id="'orderDetailsModal' + ${order.id}" tabindex="-1" role="dialog"
     aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderDetailsModalLabel">Order Details - Order ID: <span th:text="${order.id}"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="detail : ${order.orderDetails}">
                        <td th:text="${detail.product.name}"></td>
                        <td th:text="${detail.product.price}"></td>
                        <td th:text="${detail.quantity}"></td>
                        <td th:text="${detail.product.price * detail.quantity}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <h5>Total Order Amount: <span th:text="${order.totalAmount}"></span></h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
