<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <th:block th:replace="layout::link-css"></th:block>
</head>
<body>
    <th:block th:replace="layout::navbar"></th:block>
    <div id="banner" class="bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="banner__title pt-5">
                        <h2>Natural Perfume</h2>
                        <p>Đắm mình trong hương, khẳng định phong cách.</p>
                        <button class="btn--shopNow">Shop Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="newIn">
        <div class="container text-center py-5">
            <div class="row pb-5">
                <div class="col-md-12">
                    <h2>New In</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="newIn__item">
                        <img src="images/New In/4.png" alt="" class="img-fluid">
                        <h3>BVLGARI AQVA</h3>
                        <div class="price">199.000 đ</div>
                        <div class="icon--star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="newIn__item">
                        <img src="images/New In/1.png" alt="" class="img-fluid">
                        <h3>Le Labo Another 13</h3>
                        <div class="price">199.000 đ</div>
                        <div class="icon--star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="newIn__item">
                        <img src="images/New In/2.png" alt="" class="img-fluid">
                        <h3>Acquadi Giò</h3>
                        <div class="price">199.000 đ</div>
                        <div class="icon--star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="newIn__item">
                        <img src="images/New In/3.png" alt="" class="img-fluid">
                        <h3>Dior Sauvage</h3>
                        <div class="price">199.000 đ</div>
                        <div class="icon--star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="banner2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner__title">
                        <h2>Khám phá Bộ sưu tập Nước hoa Mới</h2>
                        <h2>Giảm giá Đặc biệt 50%</h2>
                        <div class="title--phu">
                            <i class="fa-solid fa-quote-left"></i>
                            <span>Những mùi hương tinh tế và quyến rũ cho mùa hè này</span>
                            <i class="fa-solid fa-quote-right"></i>
                        </div>
                        <button class="btn--shopNow">Shop Now</button>
                    </div>
                </div>
                <div class="col-md-6 text-center py-5">
                    <img src="images/banner.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div id="sanpham">
        <div class="container text-center py-5">
            <div class="row pb-5">
                <div class="col-md-12">
                    <h2>Sản phẩm</h2>
                </div>
            </div>
            <div class="row">
                <!-- Nam -->
                <div class="col-md-4">
                    <div class="sanpham__item nam">
                        <img src="images/Sản phẩm/sản phẩm dành cho nam.jpg" alt="" class="img-fluid">
                        <div class="sanpham__item--title">Nam</div>
                    </div>
                </div>
                <!-- Nữ -->
                <div class="col-md-4">
                    <div class="sanpham__item nu">
                        <img src="images/Sản phẩm/sản phẩm dành cho nữ.jpg" alt="" class="img-fluid">
                        <div class="sanpham__item--title">Nữ</div>
                    </div>
                </div>
                <!-- Best seller -->
                <div class="col-md-4">
                    <div class="sanpham__item bestSeller">
                        <img src="images/Sản phẩm/best seller.jpg" alt="" class="img-fluid">
                        <div class="sanpham__item--title">Best seller</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ourMission">
        <div class="container text-center">
            <div class="row pb-5">
                <div class="col-md-12">
                    <h2>Sứ mệnh của chúng tôi</h2>
                    <p>Tất cả sản phẩm của chúng tôi đều được lựa chọn cẩn thận để đảm bảo chúng phù hợp với giá trị cốt lõi mà chúng tôi mang lại</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <div class="ourMission__icon">
                        <i class="fa-solid fa-check"></i>
                        <h6>Chất lượng cao</h6>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ourMission__icon">
                        <i class="fa-solid fa-user-nurse"></i>
                        <h6>Nhân viên chuyên nghiệp</h6>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ourMission__icon">
                        <i class="fa-solid fa-check"></i>
                        <h6>Thương hiệu uy tín</h6>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ourMission__icon">
                        <i class="fa-solid fa-thumbs-up"></i>
                        <h6>Phản hồi khách hàng</h6>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ourMission__icon">
                        <i class="fa-solid fa-money-bill"></i>
                        <h6>Chính sách hoàn tiền</h6>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                    <button class="btn--shopNow mb-5">Tìm hiểu thêm</button>
                </div>
            </div>
        </div>
    </div>

    <div id="weekendSale">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h5>Happening Now!</h5>
                    <h2>Weekend Sale</h2>
                    <button class="btn--shopNow mt-4">Shop Now</button>
                </div>
            </div>
        </div>
    </div>

    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2>Stay inspired and eco-conscious</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 text-center">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Họ tên">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Số điện thoại">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                    </div>
                    <button class="btn--send">Gửi ngay</button>
                </div>
                <div class="col-md-7 text-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4185210678897!2d106.78302651062171!3d10.855738189253236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2zSFVURUNIIC0gxJDhuqFpIGjhu41jIEPDtG5nIG5naOG7hyBUUC5IQ00gKFRodSBEdWMgQ2FtcHVzKQ!5e0!3m2!1svi!2s!4v1719988389921!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Perfume Palace</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores illum vel ab, voluptas, cumque magnam.</p>
                    <hr>
                </div>
            </div>
            <div class="row pb-5 pt-4">
                <div class="col-md-3">
                    <h5>Keep Updated</h5>
                    <p>Subscribe sit amet dignissim sem. Duis suscipit, nisi ut fermentum molestie.</p>
                    <div class="block__payment">
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa-solid fa-credit-card"></i>
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-brands fa-cc-jcb"></i>
                        <i class="fa-brands fa-cc-apple-pay"></i>
                    </div>
                </div>
                <div class="col-md-3">
                    <h5>Other Pages</h5>
                    <ul class="list-unstyled">
                        <li>About</li>
                        <li>Services</li>
                        <li>Pricing</li>
                        <li>Contact</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li>Privacy Policy</li>
                        <li>Terms of Service</li>
                        <li>Credit</li>
                        <li>FAQ</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Office Location</h5>
                    <div class="block__location">
                        <div class="map">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>JI. Raya Mas Ubud No.86, Gianyar, Bali, Indonesia - 80225</span>
                        </div>
                        <div class="call">
                            <i class="fa-solid fa-phone"></i>
                            <span>+62 361 234 4567</span>
                        </div>
                        <div class="mail">
                            <i class="fa-regular fa-envelope"></i>
                            <span>contact@domain.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col-md-12">
                    <span>Ⓒ 2020 Template By Jegtheme</span>
                    <div class="block__socialMedia">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="layout::footer"></th:block>
</body>
</html>